*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face{
    font-family: 'ClashDisplay';
    src: url(./ClashDisplay-Extralight.ttf);
    src: url(./ClashDisplay-Medium.ttf);
    src: url(./ClashDisplay-Regular.ttf);
}

body{
    cursor: none;
background-color: rgb(255, 0, 0);
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
font-family: "ClashDisplay", sans-serif;
}

.custom-cursor {
  width: 18px;
  height: 18px;
  background: transparent;
  border: 2px solid #ff2b00;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease, background 0.2s ease;
}

/* Opcional: estado hover */
a:hover ~ .custom-cursor,
button:hover ~ .custom-cursor {
  width: 32px;
  height: 32px;
  background: #ff2b00;
}

h1{
    cursor: none;
    position: fixed;
    top: 5px;
    left: 50px;
    font-size: 190px;
    line-height: 150px;
    color: #ff2b00;
    font-weight: 500;
    animation: fadeIn 1s ease forwards;
      transform: translateY(0);
  transition: transform 0.25s ease;
}

p{
    cursor: none;
    position: fixed;
    bottom: 175px;
    left: 50px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
}

.nombre{
    font-size: 145px;
}

.descripcion{
    width: 200ch;
    color: #ffffff;
}


.info{
    cursor: none;
    position: fixed;
  top: 30px;
  right: 30px;
  z-index: 1000;
    text-decoration: none;
    background:#000000;
    color:#ff2b00;
    transition: color 0.3s ease;
}
.info:hover{
    color: #ffffff;
    text-decoration: none;
}

.dot-pattern {
  position: fixed;
  inset: 0;
  background-color: #000000;
  background-image: radial-gradient(#ffffff 1px, transparent 1px);
  background-size: 24px 24px;
  z-index: -1;
}