@font-face { font-family: "ClashDisplay"; 
  src: url("ClashDisplay-Extralight.ttf") format("truetype"); 
  font-weight: 200; 
  font-style: normal; 
}

@font-face { font-family: "ClashDisplay"; 
  src: url("ClashDisplay-Light.ttf") format("truetype"); 
  font-weight: 300; 
  font-style: normal; 
}

@font-face { font-family: "ClashDisplay"; 
  src: url("ClashDisplay-Regular.ttf") format("truetype"); 
  font-weight: 400; 
  font-style: normal; 
}

@font-face { font-family: "ClashDisplay"; 
  src: url("ClashDisplay-Medium.ttf") format("truetype"); 
  font-weight: 500; 
  font-style: normal; 
}

@font-face { font-family: "ClashDisplay"; 
  src: url("ClashDisplay-Semibold.ttf") format("truetype"); 
  font-weight: 600; 
  font-style: normal; 
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
  cursor: none;
  min-height: 100vh;
  font-family: "ClashDisplay", sans-serif;
  background-color: #000;
}

.custom-cursor {
  width: 18px;
  height: 18px;
  border: 2px solid #ff2b00;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease, background 0.2s ease;
}

.hero{
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.dot-pattern {
  position: absolute;
  inset: 0;
  background-color: #000;
  background-image: radial-gradient(#ffffff3d 1px, transparent 1px);
  background-size: 24px 24px;
  z-index: -1;
}

h1{
  position: absolute;
  top: 20px;
  left: 50px;
  color: #FF2B00;
  line-height: 120px;
}

.nombre{
  font-size: 145px;
  font-weight: 500;
}

.apellido{
  font-size: 200px;
  font-weight: 500;
}

.descripcion{
  max-width: 70ch;
  position: absolute;
  bottom: 170px;
  left: 50px;
  width: 200ch;
  color: #ffff;
  font-size: 40px;
  font-weight: 300;
}

.info{
  cursor: none;
  position: absolute;
  top: 30px;
  right: 50px;
  text-decoration: none;
  background: #000;
  color: #FF2B00;
  transition: color 0.5s ease;
}

.info:hover{
color: #ffff;
}

.skills-container{
  position: absolute;
  bottom: 90px;
  left: 50px;
  right: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
  font-weight: 600;
}

.skill-pill{
  background-color: #ffff;
  padding: 10px 20px;
  color: #FF2B00;
  border-radius: 15px;
  font-size: 15px;
}

.aux{
  margin-left: auto;
  display: flex;
  align-items: center;
  gap:20px;
  font-size: 30px;
  font-weight: 500;
  color: #FF2B00;
}

i{
  color: #ffff;
}

.skills-border{
position: absolute;
bottom: 30px;
left: 0;
right: 0;
height: 1px;
background: #ffff;
}

.proyectos{
  min-height: 100vh;
  background-color: #ffff;
}

.titulo-proyectos{
  position: absolute;
  color: #FF2B00;
  font-size: 150px;
  right: 50px;
}

@media (max-width: 768px) {
  .nombre{
    font-size: 100vh;
  }

  .apellido{
    font-size: 140vh;
  }

  .descripcion{
    font-size: 25px;
    bottom: 150px;
    left: 30px;
  }

  .skills-container{
    flex-direction: column;
    gap: 20px;
    bottom: 70px;
    left: 30px;
    right: 30px;
  }

  .titulo-proyectos{
    font-size: 100vh;
    right: 30px;
  }
  
}